.vscode/
.idea/
venv/
env/
**/.pytest_cache/**
**/__pycache__/**

.gitlab-ci.yml
.gitignore
.isort.cfg

Dockerfile
docker-compose.yaml

game_service/scripts/**

README.md
nginx.conf/tests/
/.flake8
/readme.md
/.env.example
