.vscode/
.idea/
game_service/venv/
auth_service/venv
**/.pytest_cache/**
**/__pycache__/**
**/.hypothesis/**

auth_service/.env.example
.coverage
/game_service/dockerfiles/
/auth_service/dockerfiles/
